.project-carousel{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

img{
    height: 100%;
}

.left-btn{
    position:absolute;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #000;
    background-color: #fff;
    
    z-index: 10;
}

.left-btn:hover{
    background-color: #ff95f5;
}

.left-btn img{
    width: 15px;
}



/* Suggest CSS to be custom*/


.carousel-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
    

.carousel-item {
    
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    left: 0;
    top: 0;
}

.carousel-item.active {

    opacity: 1;
}


/*///// MOBILE VERSION /////*/

@media (max-width: 480px) {

    img{
        height: 500px;
    }

    .left-btn img{
        height: 30px;
    }
    
    .left-btn{
        margin-left: 10px
    }

    .carousel-item {
        height: 500px;
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


}