#nav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 5px solid #000;
    overflow: hidden;
}

#nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#nav li {
    display: block;
    padding: 0px 40px;
    cursor: pointer;
    margin: 0px;
    height: 100%;
}

#nav li:hover{
    background-color: #ff95f5;;
    color: rgb(255, 255, 255);
}


/*///// MOBILE VERSION /////*/

@media (max-width: 480px) {

    #nav{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 30px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 5px solid #000;
        overflow: hidden;
    }

    #nav li {
        display: block;
        padding: 0px 30px;
        cursor: pointer;
        margin: 0px;
        height: 100%;
    }

}