.project-desc{
    display:flex;
    font-size: 20px;
    font-weight: 600;
    max-height : 30px;
    overflow: hidden;
    transition: max-height 800ms ease;
    padding: 0px 40px;
}

.project-desc-open{
    max-height: 300px;
}

.project-image{
    display: block;
    width: 30px;
    height: 30px;
}

.project-desc-box{
    min-width: 400px;
    max-width: 600px;
    padding: 0px 30px 0px 0px;
}

.project-desc.project-desc-open h3 {
    font-size: 36px;
    margin-top: 10px;
    transition: font-size 300ms ease-out 50ms, margin-top 300ms ease-out 50ms;
  }

  .content{
    opacity: 0;
  }

  .project-desc.project-desc-open .content{
    opacity: 1;
    transition: opacity 500ms ease-in 400ms;
  }

  .content .date{
    color: #ff95f5;
    font-weight: 700;
    font-size: 16px;
  }

  .content .desc {
    list-style: none;
    font-size: 13px;
  }

  .skills{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .skills li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 5px 0px 0px;
  }


  @media (max-width: 480px) {

    .project-desc{
      flex-direction: column;
      overflow: hidden;
      padding: 0px 0px;
    }

    .project-desc-box{
      min-width: 100vw;
      max-width: 100vw !important;
  }

  .project-desc-open{
    max-height: fit-content;
}
  .project-desc .content, .project-desc h3{
    padding: 0px 20px;
  }

  .content {
    margin-bottom: 20px;
  }
  }